body{
    background-color: rgb(107, 71, 141);
}
*{
    padding: 0;
    margin: 0;
}
.nav{
    height: 70px;
    width: 100%;
 background-color: rgb(114, 62, 163);
  
}


.sercel{
    height: 500px; 
    width: 500px;
    border-radius: 50%;
    background-color: rgb(95, 35, 110);
position: absolute;
right: 150px;
top: 90px;
}
.profil{
    height: 150px;
    position: absolute;
    left: 20px;
    top: 90px;
}
.frontend{
 border-radius: 50%;
 height: 450px;
 position: absolute;
 right: 176px;
top: 115px;
}
.name{
  
    position: absolute;
    left: 250px;
    top: 150px;
}
.rr{
    color: rgb(255, 255, 255);
    position: absolute;
    top: 300px;
    left: 15px;
}
.tt{
   position: absolute;
   right: 800px;
   left: 200px;
   top: 300px;
}
.r1{
    color: rgb(255, 255, 255);
    position: absolute;
    top: 500px;
    left: 15px; 
}
.t1{
    position: absolute;
    right: 800px;
    left: 200px;
    top: 500px;
}
.r2{
    color: rgb(255, 255, 255);
    position: absolute;
    top: 700px;
    left: 15px; 
}
.t2{
    position: absolute;
    right: 1100px;
    left: 200px;
    top: 700px;
}
.t3{
   position: absolute;
   left: 200px;
   top: 700px;
}
.linkedin{
    position: absolute;
   right: 50px;
    top: 800px;
}
.r3{
    position: absolute;
    top: 810px;
    right: 150px;
    color: azure;
}
